header#cabecalho{
    margin-bottom: 50px;
}

fieldset {
    border: 1px solid #cecece;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    
   
}


fieldset#sexo {
    width: 150px;
}


.formulario-fluid {
    width: 100%;;
    padding-left: 10px;
      
}



input , textarea{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 11pt;
    
}

input:hover, textarea:hover{
    background-color: #dddddd;
}

legend {
    color:#888888;
    font-weight: bold;
    font-size: 11pt;
    font-family: sans-serif;
}
